<h2>Eroll at Hogwarts</h2>

<form class="" action="/hogwarts" method="post">

  <label for="first-name">First Name</label>
  <input type="text" name="first_name" value="" id = "first-name">

  <label for="last-name">Last Name</label>
  <input type="text" name="last_name" value="" id = "last-name">

  <label for="house">House</label>
  <select class="" name="house_id">
    <% @houses.each do |house| %>
      <option value="<%= house.id %>"><%= house.name %></option>
    <% end %>
  </select>

  <label for="age">Age</label>
  <input type="number" name="age" value="" id = "age">

  <input type="submit" name="" value="Submit">

</form>
